
RewriteEngine on

RewriteRule ^([a-z0-9]+)$ /tpl/page.php?login=
RewriteRule ^recovery/([a-z0-9]+)$ /php/recoveryAccount/newPassword.php?restore=
RewriteRule ^([a-z0-9]+)/article([0-9]+)$ /php/loadDateNote/fullArticleRead.php?id_article= 

RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 400 /errors.php
ErrorDocument 403 /errors.php
ErrorDocument 404 /errors.php
ErrorDocument 405 /errors.php
ErrorDocument 408 /errors.php
ErrorDocument 500 /errors.php
ErrorDocument 502 /errors.php
ErrorDocument 504 /errors.php